body{
	background: linear-gradient(to left, #0b5da6, #3976d6, #0ecacc);
	font-family: 'Franklin Gothic';
}

img a{
	image-rendering: optimizequality;
	mask-image: #323535;
}

nav a{
	text-decoration: none;
	color: azure;
}

footer{
	color: #090821;
	text-decoration: none;
	display: flex;
}

footer a{
	color: azure;
	text-decoration: none;
}

p a{
	text-decoration: none;
	color: azure;
}